.logo{
    width: 100px;
    align-items: right;
    cursor: pointer;
}
#logo_playstation{
    max-width: 60px;
}

form button{
    border-radius: 20px !important;
    margin-right: 20px !important;
}
form button:hover{
    background-color: #ccc !important;
    
}
.bi-search{
    vertical-align: middle;
}

.bg-info{
    background-color: #00439C !important;
  }

  .logo {
    text-align: right;
  }
  /*Borda do card de promoções */
  .border {
    border: none !important;
  }
  /*Border img de card promoções */
  #promo img {
    border-radius: 20px !important;
  }

  /*Texto do card de promoções */
  .texto {
    font-family: 'Arial', sans-serif;
  }

/* vinicius ------------------------------------*/
.cinza{
    height: 400px;
    width: 100%;
    background-color: #BEBCBB;
}

.ajuste{
    height: 400px;
}

.ajuste2{
    height: 70px;
}

span{
    color: blue;
}


/* vinicius ------------------------------------*/
footer{
    background-color: #00439c;
    color: #fff;
    padding: 64px 10px;
    justify-content: space-between;
}
.footer_right {
    margin-left: 90px;
    padding: 0 30px;
}
.footer_right ul{
    font-size: 14px;
    list-style: none;
    width: 200px;
}